* {
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
}

em,
i {
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    color: none;
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

a:hover,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

button,
input {
    border: none;
    resize: none;
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    outline: none;
}

body {

    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

img,
svg {
    cursor: default;
    pointer-events: none;
    border: 0;
    vertical-align: middle;
}

.hide,
.none {
    display: none;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}